<!-- about section -->

<section class="about_section layout_padding-bottom" style="background-color: white; padding-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              About us
            </h2>
            <p>
              AIDUC is a modern university that is leading the way in using AI to improve its strategies and deliver a better education to its students. AI is being used in a variety of ways at AIDUC, including:</p>
  
              <ul>
                <li>
                  Personalized learning: AI-powered learning platforms can tailor the learning experience to each individual student's needs and interests. This helps students learn more effectively and efficiently.
                </li>
                <li>
                  Academic advising: AI can help students with academic advising tasks such as course selection, scheduling, and career planning. This frees up academic advisors to focus on more complex issues.
                </li>
                <li>
                  Student support: AI-powered chatbots can provide students with 24/7 support for questions about academics, student life, and other topics. This helps students stay on track and get the support they need when they need it.
                </li>
                <li>
                  Research: AI is being used by researchers at [University Name] to make new discoveries and solve complex problems. For example, AI is being used to develop new drugs and treatments for diseases, to create more efficient energy sources, and to develop new technologies.
                </li>
              </ul>
            </p>
            <a href="/">
              Read More
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="images/student-at-computer.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end about section -->
  