<!-- Help search -->

<section class="contact_section" style="background-color: white; padding-top: 70px; padding-bottom: 70px;">
  <div class="container">
    <div class="heading_container">
      <h2>
        How can we help? Ask us anything.
      </h2>
    </div>
    <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>

    <!-- Search widget element is not visible by default -->
    <!-- This information can be gathered at the search service in Google Cloud -->
    <gen-search-widget configId="{your-config-id}" triggerId="searchWidgetTrigger"></gen-search-widget>

    <!-- Element that opens the widget on click. It does not have to be an input -->
    <input placeholder="Type your question here..." id="searchWidgetTrigger" />
  </div>
</section>

<!-- end of help search -->

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap" style="width:100%;height:100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->