<!-- slider section -->
<section class="slider_section ">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <span class="badge badge-primary" style="margin-bottom: 10px; padding: 5px; font-size: x-small;">PROFESSIONAL EDUCATION</span>
            <h1>
              Repair and <br>
              Maintenance <br>
              Services course
            </h1>
            <p>
              Services repair and management professionals are responsible for keeping a variety of systems and equipment running smoothly, from HVAC systems to plumbing to IT networks. AIDUC is making it simple for professionals to become a certified services professional.
            </p>
            <a href="">
              START IT NOW!
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/slider-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- feature section -->
<section class="feature_section">
  <div class="container">
    <div class="feature_container">
      <div class="box">
        <div class="img-box">
          <svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 -960 960 960" width="512" fill="#041E49">
            <g>
              <g>
                <path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/>
              </g>
            </g>
          </svg>
        </div>
        <h5 class="name">
          Career Center
        </h5>
      </div>
      <div class="box">
        <div class="img-box">
          <svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 -960 960 960" width="512" fill="#041E49">
            <g id="paint-painted-paint_roller-home-house" data-name="paint-painted-paint roller-home-house">
              <path d="M300-80q-58 0-99-41t-41-99v-520q0-58 41-99t99-41h500v600q-25 0-42.5 17.5T740-220q0 25 17.5 42.5T800-160v80H300Zm-60-267q14-7 29-10t31-3h20v-440h-20q-25 0-42.5 17.5T240-740v393Zm160-13h320v-440H400v440Zm-160 13v-453 453Zm60 187h373q-6-14-9.5-28.5T660-220q0-16 3-31t10-29H300q-26 0-43 17.5T240-220q0 26 17 43t43 17Z"/>
            </g>
          </svg>
        </div>
        <h5 class="name">
          Library
        </h5>
      </div>
      <div class="box">
        <div class="img-box">
          <svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 -960 960 960" width="512" fill="#041E49">
            <path d="M400-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM80-160v-112q0-33 17-62t47-44q51-26 115-44t141-18h14q6 0 12 2-8 18-13.5 37.5T404-360h-4q-71 0-127.5 18T180-306q-9 5-14.5 14t-5.5 20v32h252q6 21 16 41.5t22 38.5H80Zm560 40-12-60q-12-5-22.5-10.5T584-204l-58 18-40-68 46-40q-2-14-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T628-460l12-60h80l12 60q12 5 22.5 11t21.5 15l58-20 40 70-46 40q2 12 2 25t-2 25l46 40-40 68-58-18q-11 8-21.5 13.5T732-180l-12 60h-80Zm40-120q33 0 56.5-23.5T760-320q0-33-23.5-56.5T680-400q-33 0-56.5 23.5T600-320q0 33 23.5 56.5T680-240ZM400-560q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Zm0-80Zm12 400Z"/></svg>
        </div>
        <h5 class="name">
          Student Services
        </h5>
      </div>
    </div>
  </div>
</section>
<!-- end feature section -->

<!-- professional section -->
<section class="professional_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/student-sitting-no-bg.png" alt="">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="detail-box">
          <h2>
            The perfect union of <br>
            AI + high-quality content.
          </h2>
          <p>
            Overall, high-quality content and AI have the potential to revolutionize education by making it more personalized, engaging, accessible, efficient, and insightful. That's why we did it!
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end professional section -->

<!-- client section -->
<section class="client_section ">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 style="margin-top: 50px;">
        WHAT OUR STUDENTS SAY
      </h2>
    </div>
    <div class="carousel-wrap layout_padding2-top ">
      <div class="owl-carousel">
        <div class="item">
          <div class="box">
            <div class="client_id">
              <div class="img-box">
                <img src="images/client-1.jpg" alt="">
              </div>
              <div class="client_detail">
                <div class="client_info">
                  <h6>
                    Jorch morik
                  </h6>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
            <div class="client_text">
              <p>
                I'm so glad I chose to attend AIDUC! From the moment I arrived on campus, I felt welcomed and supported. The professors are experts in their fields and are passionate about teaching. The students are intelligent and motivated, and I've made lifelong friends here.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="client_id">
              <div class="img-box">
                <img src="images/client-2.jpg" alt="">
              </div>
              <div class="client_detail">
                <div class="client_info">
                  <h6>
                    John Smith
                  </h6>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
            <div class="client_text">
              <p>
                I've been at AIDUC for a year now, and I've been blown away by the quality of education I'm receiving. My professors are experts in their fields, and they're passionate about teaching. I've learned so much in my classes, and I'm constantly challenged to think critically.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="client_id">
              <div class="img-box">
                <img src="images/client-3.png" alt="">
              </div>
              <div class="client_detail">
                <div class="client_info">
                  <h6>
                    Grace Morales
                  </h6>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
            <div class="client_text">
              <p>
                I am so grateful for my time at AIDUC. It was the best four years of my life. The professors were world-renowned experts in their fields, and the facilities were state-of-the-art. I learned so much, and I am now well-prepared for my career.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="client_id">
              <div class="img-box">
                <img src="images/client-4.png" alt="">
              </div>
              <div class="client_detail">
                <div class="client_info">
                  <h6>
                    Peter Headfort
                  </h6>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
            <div class="client_text">
              <p>
                One of the things I love most about AIDUC is the focus on student success. My professors are always willing to go the extra mile to help me succeed, and I feel like I have the resources and support I need to thrive. I'm also involved in several extracurricular activities, which has helped me to develop my leadership skills and make lifelong friends.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end client section -->